
#root{  
  .App{
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .App-header {    
      // align-items: center;
      // justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      .NavbarMenu{
        background-color: #05276b;
        color: white;
      }
    }
    .App-main{
      background-color: whitesmoke;
      flex: 1 0 auto;
      .BackToTop{
        color:darkblue;
        font-size: 16px;
        cursor:pointer;
        padding:10px;
      ;
      }
    }
    footer{
    .App-footer{
      display:flex;
      justify-content: space-around;
      align-items:center;
      color: white;
      background-color: #05276b;
      padding:10px;
    }
    }
  }
}


